<footer class="main-footer padding-y-lg">
	<div class="container max-width-adaptive-lg">
		<div class="grid gap-lg">
			<div class="col-3@lg order-3 order-2@lg">
				<div class="grid gap-sm">
					<a href="/" class="mega-nav__logo margin-bottom-xs">
						<img loading="lazy" data-src="{{ 'hellosmile-logo.png' | asset_url }}" class="block width-100%"
							src="{{ 'hellosmile-logo.png' | asset_url }}" alt="Image description">
					</a>
					<ul class="color-contrast-medium text-sm">
						<li>„SMILEON TEETH“ DOO</li>
						<li>Bulevar Mihaila Pupina 10ž/353</li>
						<li>11000 Beograd</li>
						<li>Republika Srbija</li>
						<li>PIB: 109928758</li>
						<li>Matični broj 21269140</li>
						<li>e-mail: <a href="mailto:info@thehellosmile.rs">info@thehellosmile.rs</a></li>
					</ul>
				</div>
			</div>
			<nav class="col-9@lg order-1 order-1@lg">
				<ul class="grid gap-lg">
					<li class="col-6@xs col-4@md">
						<h4 class="margin-bottom-sm text-base@md">Proizvodi</h4>
						<ul class="grid gap-xs text-sm@md">
							<li><a href="/products/hello-smile-olovka" class="main-footer__link">Olovka</a></li>
							<li><a href="/products/hello-smile-pro" class="main-footer__link">Hello Smile Pro</a></li>
							<li><a href="/products/hello-smile-aktivni-ugalj" class="main-footer__link">Aktivni ugalj</a></li>
						</ul>
					</li>

					<li class="col-6@xs col-4@md order-2">
						<h4 class="margin-bottom-sm text-base@md">Paketi</h4>
						<ul class="grid gap-xs text-sm@md">
							<li><a href="/products/pro-duo-set" class="main-footer__link">The Essentials set</a></li>
							<li><a href="/products/pro-ugalj" class="main-footer__link">Black & White Offer</a></li>
							<li><a href="/products/2-pakovanja-uglja" class="main-footer__link">Pro Smile</a></li>
							<li><a href="/products/" class="main-footer__link">Pogledaj sve pakete</a></li>
						</ul>
					</li>

					<li class="col-6@xs col-4@md">
						<h4 class="margin-bottom-sm text-base@md">Podrška</h4>
						<ul class="grid gap-xs text-sm@md">
							<li><a href="/pages/nasa-prica" class="main-footer__link">Naša priča</a></li>
							<li><a href="/pages/pitanja-i-odgovori" class="main-footer__link">Najčešća pitanja i odgovori</a></li>
							<li><a href="/pages/isporuka" class="main-footer__link">Isporuka</a></li>
							<li><a href="/pages/reklamacije" class="main-footer__link">Reklamacije</a></li>
							<li><a href="/pages/opsti-uslovi" class="main-footer__link">Opšti uslovi</a></li>
							<li><a href="/pages/garancija" class="main-footer__link">Garancija</a></li>
							<li><a href="/pages/kontakt" class="main-footer__link">Kontaktirajte nas</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>

		<div class="max-width-adaptive-xl margin-top-xs">
			<div class="grid gap-md items-center">
				<div class="col-12 col-6@md">
					<div class="flex justify-start">
						<a href="https://rs.visa.com/pay-with-visa/security-and-assistance/protected-everywhere.html">
							<img loading="lazy" data-src="{{ 'visa-secure-2.jpg' | asset_url }}"
								src="{{ 'visa-secure-2.jpg' | asset_url }}" alt="Visa Secure">
						</a>
						<a href="https://www.mastercard.rs/sr-rs/consumers/find-card-products/credit-cards.html"
							class="block float-right" style="text-decoration: none;">
							<img loading="lazy" data-src="{{ 'master-ver.gif' | asset_url }}" src="{{ 'master-ver.gif' | asset_url }}"
								alt="Master Card">
						</a>
					</div>
				</div>
				<div class="col-12 col-6@md">
					<div class="float-right">
						<a href="https://www.bancaintesa.rs/pocetna.1.html">
							<img loading="lazy" data-src="{{ 'intesa-logo.png' | asset_url }}" class="block margin-bottom-sm"
								src="{{ 'intesa-logo.png' | asset_url }}" alt=""></a>
						<img loading="lazy" data-src="{{ 'logo-kartice.jpg' | asset_url }}" class="block"
							src="{{ 'logo-kartice.jpg' | asset_url }}" alt="">
					</div>
				</div>
			</div>
		</div>

		<div class="main-footer__colophon border-top padding-top-xs margin-top-lg">
			<div class="text-sm color-contrast-medium flex flex-wrap gap-xs">
				<span>&copy; SMILEON TEETH</span>
				<a href="/pages/opsti-uslovi" class="color-contrast-high">Opšti uslovi</a>
			</div>

			<div class="flex items-center gap-xs">
				<p class="text-sm">Web prezentacija: <a href="https://nicey.rs/">Nicey Consulting</a></p>
			</div>

			<div class="flex items-center gap-xs">
				<a href="https://www.facebook.com/tryhellosmile" class="main-footer__social">
					<a href="https://www.facebook.com/tryhellosmile" class="socials-v5__btn">
						<svg class="icon" viewBox="0 0 32 32">
							<title>Pratite nas na Facebook</title>
							<path
								d="M32,16A16,16,0,1,0,13.5,31.806V20.625H9.438V16H13.5V12.475c0-4.01,2.389-6.225,6.043-6.225a24.644,24.644,0,0,1,3.582.312V10.5H21.107A2.312,2.312,0,0,0,18.5,13v3h4.438l-.71,4.625H18.5V31.806A16,16,0,0,0,32,16Z">
							</path>
						</svg>
					</a>
				</a>

				<a href="https://www.instagram.com/tryhellosmile/" class="main-footer__social">
					<svg class="icon" viewBox="0 0 32 32">
						<title>Pratite nas na Instagram</title>
						<path
							d="M16,3.7c4,0,4.479.015,6.061.087a6.426,6.426,0,0,1,4.51,1.639,6.426,6.426,0,0,1,1.639,4.51C28.282,11.521,28.3,12,28.3,16s-.015,4.479-.087,6.061a6.426,6.426,0,0,1-1.639,4.51,6.425,6.425,0,0,1-4.51,1.639c-1.582.072-2.056.087-6.061.087s-4.479-.015-6.061-.087a6.426,6.426,0,0,1-4.51-1.639,6.425,6.425,0,0,1-1.639-4.51C3.718,20.479,3.7,20.005,3.7,16s.015-4.479.087-6.061a6.426,6.426,0,0,1,1.639-4.51A6.426,6.426,0,0,1,9.939,3.79C11.521,3.718,12,3.7,16,3.7M16,1c-4.073,0-4.584.017-6.185.09a8.974,8.974,0,0,0-6.3,2.427,8.971,8.971,0,0,0-2.427,6.3C1.017,11.416,1,11.927,1,16s.017,4.584.09,6.185a8.974,8.974,0,0,0,2.427,6.3,8.971,8.971,0,0,0,6.3,2.427c1.6.073,2.112.09,6.185.09s4.584-.017,6.185-.09a8.974,8.974,0,0,0,6.3-2.427,8.971,8.971,0,0,0,2.427-6.3c.073-1.6.09-2.112.09-6.185s-.017-4.584-.09-6.185a8.974,8.974,0,0,0-2.427-6.3,8.971,8.971,0,0,0-6.3-2.427C20.584,1.017,20.073,1,16,1Z">
						</path>
						<path d="M16,8.3A7.7,7.7,0,1,0,23.7,16,7.7,7.7,0,0,0,16,8.3ZM16,21a5,5,0,1,1,5-5A5,5,0,0,1,16,21Z"></path>
						<circle cx="24.007" cy="7.993" r="1.8"></circle>
					</svg>
				</a>
			</div>
		</div>
	</div>
</footer>