<section class="bg-gradient-primary-white-top has-section-divider-bottom">
	<div class="container max-width-adaptive-xl">
		<div id="hero" class="container width-100%">
			<div class="grid gap-md">
				<ul class="stack-cards js-stack-cards margin-top-xs margin-top-md@md">
					<li class="stack-cards__item shadow-xl overflow-hidden js-stack-cards__item stack-cards__image margin-top-lg">
						<div class="container max-width-adaptive-lg slider-center">
							<div class="color-white text-sm opacity-40% margin-bottom-xxs@md text-center text-left@md display@md">
								HelloSmile Olovka
							</div>

							<div class="text-component margin-bottom-sm margin-bottom-md@md">
								<h1 class="color-white text-xl text-xxxl@md text-xxxxl@xl text-center text-left@md">
									Formula bez peroksida obogaćena aloe verom, kamilicom i narom.</h1>
								<p class="text-md color-white text-center text-left@md display@md">Elegantno, bezbolno i bezbedno
									rešenje za blistavi osmeh.</p>
							</div>

							<a href="/products/hello-smile-olovka"
								class="btn btn--md btn--accent inline-flex@md flex-shrink-0@md display@md">Poručite odmah</a>
							<a href="/products/hello-smile-olovka"
								class="btn btn--accent width-100% flex flex-shrink hide@md">Poručite odmah</a>
						</div>
					</li>
					<li class="stack-cards__item bg shadow-xl overflow-hidden js-stack-cards__item stack-cards__image">
						<div class="container max-width-adaptive-lg slider-center">
							<div class="color-white text-sm opacity-40% margin-bottom-xxs@md text-center text-left@md display@md">
								HelloSmile Pro
							</div>

							<div class="text-component margin-bottom-sm margin-bottom-md@md">
								<h1
									class="color-white text-lg text-xl@xs text-xxxl@md text-xxxxl@xl text-center width-70%@md text-left@md">
									LED tehnologija koja pospešuje izbeljivanje zuba</h1>
								<p class="text-md color-white text-center text-left@md display@md">Za 16 minuta do sjajnog osmeha</p>
							</div>

							<a href="/products/hello-smile-pro"
								class="btn btn--md btn--accent inline-flex@md flex-shrink-0@md display@md">Poručite odmah</a>
							<a href="/products/hello-smile-pro" class="width-100% btn btn--accent flex flex-shrink hide@md">Poručite
								odmah</a>
						</div>
					</li>
					<li class="stack-cards__item bg shadow-xl overflow-hidden js-stack-cards__item stack-cards__image">
						<div class="container max-width-adaptive-xl slider-center">
							<div class="text-sm opacity-40% margin-bottom-xxs@md color-white text-center text-left@md display@md">
								Aktivni Ugalj
							</div>
							<div class="text-component margin-bottom-sm margin-bottom-md@md">
								<h1 class="text-xl text-xxxl@md color-white text-center text-left@md width-70%@md">
									HelloSmile Black Edition - 100% prirodna formula</h1>
								<p class="text-md color-white text-center text-left@md display@md">Čisto crno za blistavo bele zube</p>
							</div>

							<a href="/products/hello-smile-aktivni-ugalj"
								class="btn btn--md btn--accent inline-flex@md flex-shrink-0@md display@md">Poručite odmah</a>
							<a href="/products/hello-smile-aktivni-ugalj"
								class="width-100% btn btn--accent flex flex-shrink hide@md">Poručite odmah</a>
						</div>
					</li>
					<li class="stack-cards__item bg shadow-xl overflow-hidden js-stack-cards__item stack-cards__image">
						<div class="container max-width-adaptive-xl slider-center">
							<div class="text-sm opacity-40% margin-bottom-xxs@md color-white text-center text-left@md display@md">
								Nova Formula
							</div>
							<div class="text-component margin-bottom-sm margin-bottom-md@md">
								<h1 class="text-xl text-xxxl@md color-white text-center text-left@md width-70%@md">
									Formula bez peroksida koja čuva zubnu gleđ i izbeljuje zube</h1>
								<p class="text-md color-white text-center text-left@md display@md">Tri aktivna sastojka za neodoljivi
									osmeh</p>
							</div>

							<a href="/products/" class="btn btn--md btn--accent inline-flex@md flex-shrink-0@md display@md">Pogledajte
								proizvode</a>
							<a href="/products/" class="width-100% btn btn--accent flex flex-shrink hide@md">Pogledajte proizvode</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="container max-width-adaptive-xl">
			<ul class="feature-v8__sub-content grid gap-xs gap-md@md padding-y-sm">
				<li class="col-4@md">
					<div class="card-v8">
						<figure>
							<img loading="lazy" data-src="{{ 'icon-sigurnost.png' | asset_url }}"
								src="{{ 'icon-sigurnost.png' | asset_url }}" class="margin-x-auto" alt="Image description">
						</figure>
						<footer class="padding-y-xs padding-sm@md">
							<div class="text-component text-center">
								<h2 class="color-white"><span class="card-v8__title">Zdravlje predstavlja stil zivota</span></h2>
								<p class="color-contrast-low">Specijalna formula za beljenje zuba u HelloSmile proizvodima omogućava da
									bez bola, iritacije ili pojačane osetljivosti uklonite mrlje i sačuvate gleđ vaših zuba
								</p>
							</div>
						</footer>
					</div>
				</li>
				<li class="col-4@md">
					<div class="card-v8">
						<figure>
							<img loading="lazy" data-src="{{ 'icon-samopouzdanje.png' | asset_url }}"
								src="{{ 'icon-samopouzdanje.png' | asset_url }}" class="margin-x-auto" alt="Image description">
						</figure>
						<footer class="padding-y-xs padding-sm@md">
							<div class="text-component text-center">
								<h2 class="color-white"><span class="card-v8__title">Samopouzdanjem do ispunjenja snova</span></h2>
								<p class="color-contrast-low">Da bi probudili sjaj u vama, započnite sa sjajnom belinom vašeg osmeha i
									sa stilom i harizmom osvojite pažnju i podršku onih koji su vam vredni na
									putu do snova
								</p>
							</div>
						</footer>
					</div>
				</li>
				<li class="col-4@md">
					<div class="card-v8">
						<figure>
							<img loading="lazy" data-src="{{ 'icon-uspeh.png' | asset_url }}" src="{{ 'icon-uspeh.png' | asset_url }}"
								class="margin-x-auto" alt="Image description">
						</figure>
						<footer class="padding-y-xs padding-sm@md">
							<div class="text-component text-center">
								<h2 class="color-white"><span class="card-v8__title">Vreme kao esencija uspeha</span></h2>
								<p class="color-contrast-low">Razumevajući potrebu da do fenomalnih rezultata dođete već nakon prvog
									tretmana, ponudili smo vam da neometano i na prirodan način održite izgled
									vaših zuba dok slobodno uživate u radostima života.
								</p>
							</div>
						</footer>
					</div>
				</li>
			</ul>
		</div>
		<div class="section-divider">
			<svg viewBox="0 0 1920 60" aria-hidden="true">
				<path fill="var(--color-rozika)" d="M1920,60H0V0S387,59,960,59,1920,0,1920,0Z" />
			</svg>
		</div>
	</div>
</section>