<div class="container max-width-adaptive-lg padding-top-md padding-top-xl@md padding-bottom-md padding-bottom-md@md">
  <div class="container margin-bottom-md flex flex-center">
	<h1 class="text-xxl text-xxxl@md">Naši srećni i nasmejani korisnici</h1>
  </div>
  <div class="carousel carousel-v2 flex flex-column js-carousel" data-drag="on" data-loop="off" data-navigation="on"
	   data-navigation-class="carousel-v2__navigation" data-navigation-item-class="carousel-v2__navigation-item"
	   data-autoplay="on">
	<p class="sr-only">Carousel items</p>

	<div class="carousel__wrapper position-relative overflow-hidden">
	  <ol class="carousel__list items-center">
		<li class="carousel__item">
		  <img class="block width-100%"
			   src="{{ 'people01-olovka.jpg' | asset_url }}"
			   alt="Image description">
		</li>

		<li class="carousel__item">
		  <img class="block width-100%"
			   src="{{ 'people02-olovka.jpg' | asset_url }}"
			   alt="Image description">
		</li>

		<li class="carousel__item">
		  <img class="block width-100%"
			   src="{{ 'people03-olovka.jpg' | asset_url }}"
			   alt="Image description">
		</li>

		<li class="carousel__item">
		  <img class="block width-100%"
			   src="{{ 'people04-olovka.jpg' | asset_url }}"
			   alt="Image description">
		</li>

		<li class="carousel__item">
		  <img class="block width-100%"
			   src="{{ 'people05-olovka.jpg' | asset_url }}"
			   alt="Image description">
		</li>

		<li class="carousel__item">
		  <img class="block width-100%"
			   src="{{ 'people06-olovka.jpg' | asset_url }}"
			   alt="Image description">
		</li>
		<li class="carousel__item">
		  <img class="block width-100%"
			   src="{{ 'people07-olovka.jpg' | asset_url }}"
			   alt="Image description">
		</li>

		<li class="carousel__item">
		  <img class="block width-100%"
			   src="{{ 'people08-olovka.jpg' | asset_url }}"
			   alt="Image description">
		</li>

		<li class="carousel__item">
		  <img class="block width-100%"
			   src="{{ 'people09-olovka.jpg' | asset_url }}"
			   alt="Image description">
		</li>

		<li class="carousel__item">
		  <img class="block width-100%"
			   src="{{ 'people10-olovka.jpg' | asset_url }}"
			   alt="Image description">
		</li>

		<li class="carousel__item">
		  <img class="block width-100%"
			   src="{{ 'people11-olovka.jpg' | asset_url }}"
			   alt="Image description">
		</li>

		<li class="carousel__item">
		  <img class="block width-100%"
			   src="{{ 'people12-olovka.jpg' | asset_url }}"
			   alt="Image description">
		</li>
	  </ol>

	  <nav class="no-js:is-hidden">
		<ul
				class="position-absolute top-0 left-0 bottom-0 right-0 pointer-events-none flex items-center justify-between">
		  <li>
			<button class="reset carousel-v2__control carousel-v2__control--prev js-carousel__control js-tab-focus">
			  <svg class="icon" viewBox="0 0 20 20">
				<title>Show previous items</title>
				<polyline points="13 18 5 10 13 2" fill="none" stroke="currentColor" stroke-miterlimit="10"
						  stroke-width="2"/>
			  </svg>
			</button>
		  </li>

		  <li>
			<button class="reset carousel-v2__control carousel-v2__control--next js-carousel__control js-tab-focus">
			  <svg class="icon" viewBox="0 0 20 20">
				<title>Show next items</title>
				<polyline points="7 18 15 10 7 2" fill="none" stroke="currentColor" stroke-miterlimit="10"
						  stroke-width="2"/>
			  </svg>
			</button>
		  </li>
		</ul>
	  </nav>
	</div>
  </div>
</div>
