<section id="alertsBox" style="display: none;">

  <div class="modal modal--animate-translate-up modal--is-visible alert-msg flex items-end pointer-events-none js-modal alertBox"
	   id="alert-msg-id" style="z-index: 3 !important;">
	<div class="modal__content max-height-100% flex flex-column padding-md@md" role="alertdialog"
		 aria-labelledby="alert-msg-title" aria-describedby="alert-msg-descr">

	  <div class="pointer-events-auto width-100% max-width-xxxs padding-sm bg radius-md shadow-md overflow-auto">
		<div>
		  <div class="flex items-center">
			<img loading="lazy" class="block width-lg height-lg radius-50% margin-right-xxs" data-src="{{ 'pro-ugalj-2.jpg' | asset_url }}" src="{{ 'pro-ugalj-2.jpg' | asset_url }}"
				 alt="Image description">
			<p><strong>Ana </strong>iz <strong>Zrenjanina </strong>je naručila <strong>Hello Smile aktivni ugalj </strong>
			  <span class="color-contrast-medium text-sm">pre 5 min</span>
			</p>
		  </div>
		</div>
	  </div>

	  <div>
		<h1 id="alert-msg-title" class="sr-only">Hello Smile aktivni ugalj</h1>
	  </div>
	</div>
  </div>
  <div class="modal modal--animate-translate-up modal--is-visible alert-msg flex items-end pointer-events-none js-modal alertBox"
	   id="alert-msg-id" style="z-index: 3 !important;">
	<div class="modal__content max-height-100% flex flex-column padding-md@md" role="alertdialog"
		 aria-labelledby="alert-msg-title" aria-describedby="alert-msg-descr">

	  <div class="pointer-events-auto width-100% max-width-xxxs padding-sm bg radius-md shadow-md overflow-auto">
		<div>
		  <div class="flex items-center">
			<img loading="lazy"
				 class="block width-lg height-lg radius-50% margin-right-xxs"
				 data-src="{{ 'proizvod-aparat-01.jpg' | asset_url }}"
				 src="{{ 'proizvod-aparat-01.jpg' | asset_url }}"
				 alt="Image description">
			<div>
			  <p><strong>Marko</strong> <span class="color-contrast-medium">iz</span><strong>
				  Beograda</strong> je naručio <strong>Pro aparat sa LED lampom</strong>
				<span class="color-contrast-medium text-sm"> pre 2 min</span></p>
			</div>
		  </div>
		</div>
		<div>
		  <h1 id="alert-msg-title" class="sr-only">Pro aparat sa LED lampom</h1>
		</div>
	  </div>
	</div>
  </div>
  <div class="modal modal--animate-translate-up modal--is-visible alert-msg flex items-end pointer-events-none js-modal alertBox"
	   id="alert-msg-id" style="z-index: 3 !important;">
	<div class="modal__content max-height-100% flex flex-column padding-md@md" role="alertdialog"
		 aria-labelledby="alert-msg-title" aria-describedby="alert-msg-descr">

	  <div class="pointer-events-auto width-100% max-width-xxxs padding-sm bg radius-md shadow-md overflow-auto">
		<div>
		  <div class="flex items-center">
			<img loading="lazy"
				 class="block width-lg height-lg radius-50% margin-right-xxs"
				 data-src="{{ 'pro-ugalj-01.jpg' | asset_url }}"
				 src="{{ 'pro-ugalj-01.jpg' | asset_url }}"
				 alt="Image description">
			<div>
			  <p><strong>Sara</strong> <span class="color-contrast-medium">iz </span> <strong>
				  Kragujevca</strong> je naručila <strong>Pro + Ugalj</strong>
				<span class="color-contrast-medium text-sm"> pre 3 min</span></p>
			</div>
		  </div>
		</div>

		<div>
		  <h1 id="alert-msg-title" class="sr-only">Pro + Ugalj</h1>
		</div>
	  </div>
	</div>
  </div>
  <div class="modal modal--animate-translate-up modal--is-visible alert-msg flex items-end pointer-events-none js-modal alertBox"
	   id="alert-msg-id" style="z-index: 3 !important;">
	<div class="modal__content max-height-100% flex flex-column padding-md@md" role="alertdialog"
		 aria-labelledby="alert-msg-title" aria-describedby="alert-msg-descr">


	  <div class="pointer-events-auto width-100% max-width-xxxs padding-sm bg radius-md shadow-md overflow-auto">
		<div>
		  <div class="flex items-center">
			<img loading="lazy" class="block width-lg height-lg radius-50% margin-right-xxs" data-src="{{ 'pro-ugalj-2.jpg' | asset_url }}" src="{{ 'pro-ugalj-2.jpg' | asset_url }}"
				 alt="Image description">
			<div>
			  <p><strong>Maja</strong> <span class="color-contrast-medium">iz </span> <strong>
				  Zrenjanina</strong> je narucila <strong>Hello smile pro ugalj</strong>
				<span class="color-contrast-medium text-sm"> pre 3 min</span></p>
			</div>
		  </div>
		</div>
		<div>
		  <h1 id="alert-msg-title" class="sr-only">Hello smile pro ugalj</h1>
		</div>
	  </div>
	</div>
  </div>
</section>
