<section class="padding-top-header position-relative z-index-1 bg-primary"
	style="margin-top: 70px; background-image: url({{ 'kontakt.jpg' | asset_url }}); background-size: cover;">
	<div class="container max-width-adaptive-lg padding-y-xl position-relative z-index-2">
		<div class="text-center">
			<p class="text-uppercase text-xs letter-spacing-lg color-white">Hello Smile</p>
			<h1 class="text-xxxl color-white">Kontaktirajte nas</h1>
		</div>
	</div>
</section>
{% comment %} START Content linkovi {% endcomment %}
<div class="container max-width-adaptive-lg margin-top-lg@md margin-bottom-lg margin-bottom-xl@md">
	<div class="padding-top-xs padding-top-sm@md">
		<div class="parent grid gap-xs grid-md@md items-baseline">
			<div class="col-6 col@md margin-bottom-lg margin-bottom-0@md">
				<div class="grid text-center">
					<div class="col-12 justify-center">
						<a href="#0">
							<img src="{{ 'icon-pitanja.svg' | asset_url }}" class="icon--xxxl hover:scale" alt="Image description">
						</a>
						<div class="text-component margin-top-xs">
							<a class="link-fx-1 color-contrast-higher" href="/pages/pitanja-i-odgovori">
								<span>Najčešća pitanja</span>
								<svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
									<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<circle cx="16" cy="16" r="15.5" />
										<line x1="10" y1="18" x2="16" y2="12" />
										<line x1="16" y1="12" x2="22" y2="18" />
									</g>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col@md margin-bottom-lg margin-bottom-0@md">
				<div class="grid text-center">
					<div class="col-12">
						<img src="{{ 'icon-isporuka.svg' | asset_url }}" class="icon--xxxl hover:scale" alt="Image description">
						<div class="text-component margin-top-xs">
							<a class="link-fx-1 color-contrast-higher" href="/pages/isporuka">
								<span>Isporuka</span>
								<svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
									<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<circle cx="16" cy="16" r="15.5" />
										<line x1="10" y1="18" x2="16" y2="12" />
										<line x1="16" y1="12" x2="22" y2="18" />
									</g>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col@md margin-bottom-lg margin-bottom-0@md">
				<div class="grid text-center">
					<div class="col-12">
						<img src="{{ 'icon-reklamacije.svg' | asset_url }}" class="icon--xxxl hover:scale" alt="Image description">
						<div class="text-component margin-top-xs">
							<a class="link-fx-1 color-contrast-higher" href="/pages/reklamacije">
								<span>Reklamacije</span>
								<svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
									<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<circle cx="16" cy="16" r="15.5" />
										<line x1="10" y1="18" x2="16" y2="12" />
										<line x1="16" y1="12" x2="22" y2="18" />
									</g>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col@md margin-bottom-lg margin-bottom-0@md">
				<div class="grid text-center">
					<div class="col-12">
						<img src="{{ 'icon-uslovi.svg' | asset_url }}" class="icon--xxxl hover:scale" alt="Image description">
						<div class="text-component margin-top-xs">
							<a class="link-fx-1 color-contrast-higher" href="/pages/opsti-uslovi">
								<span>Opšti uslovi</span>
								<svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
									<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<circle cx="16" cy="16" r="15.5" />
										<line x1="10" y1="18" x2="16" y2="12" />
										<line x1="16" y1="12" x2="22" y2="18" />
									</g>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col@md">
				<div class="grid text-center">
					<div class="col-12">
						<img src="{{ 'icon-partneri.svg' | asset_url }}" class="icon--xxxl hover:scale" alt="Image description">
						<div class="text-component margin-top-xs">
							<a class="link-fx-1 color-contrast-higher" href="#0">
								<span>Poslovni partneri</span>
								<svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
									<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<circle cx="16" cy="16" r="15.5" />
										<line x1="10" y1="18" x2="16" y2="12" />
										<line x1="16" y1="12" x2="22" y2="18" />
									</g>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% comment %} START Content {% endcomment %}
<section class="position-relative z-index-1 margin-top-lg">
	<div class="container max-width-adaptive-lg">
		<div class="grid">
			<div class="bg-primary-dark flex items-center col-6@md">
				<div class="padding-md padding-x-lg@lg padding-y-xl@lg">
					<div class="text-sm color-white margin-bottom-xxs">Hello Smile</div>

					<div class="text-component">
						<h1 class="color-white">Još uvek niste pronašli odgovor za ono što tražite?</h1>
						<!-- <p class="color-white color-opacity-80%">Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Ipsa, rem
							neque doloribus
							impedit explicabo minus laborum cupiditate atque esse consectetur.</p> -->
					</div>

					<div class="margin-top-sm">
						<div class="flex flex-wrap gap-sm items-center">
							<button class="btn btn--subtle" aria-controls="modal-form">Pošaljite nam email</button>
						</div>
					</div>
				</div>
			</div>

			<img class="block width-100% object-cover col-6@md" src="{{ 'kontakt-01.jpg' | asset_url }}"
				alt="Image description">
		</div>
	</div>
</section>
<section class="position-relative z-index-1 margin-bottom-lg">
	<div class="container max-width-adaptive-lg">
		<div class="grid">
			<div class="bg-primary-dark flex items-center col-6@md order-2@md">
				<div class="padding-md padding-x-lg@lg padding-y-xl@lg">

					<div class="grid gap-sm">
						<div class="grid justify-center">
							<div class="col-3">
								<svg width="46" height="52" viewBox="0 0 50 52" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g opacity="0.8">
										<path
											d="M25 26.444C28.3137 26.444 31 23.7577 31 20.444C31 17.1303 28.3137 14.444 25 14.444C21.6863 14.444 19 17.1303 19 20.444C19 23.7577 21.6863 26.444 25 26.444Z"
											stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
										<path
											d="M41 21.1538C41 35.6923 25 47 25 47C25 47 9 35.6923 9 21.1538C9 16.8696 10.6857 12.7608 13.6863 9.73135C16.6869 6.70192 20.7565 5 25 5C29.2435 5 33.3131 6.70192 36.3137 9.73135C39.3143 12.7608 41 16.8696 41 21.1538V21.1538Z"
											stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
									</g>
								</svg>
							</div>
							<div class="col-3">
								<h5 class="color-white"> Bul. Mihaila Pupina 10ž/353 11000 Beograd</h5>
							</div>
						</div>
						<div class="grid justify-center margin-y-sm">
							<div class="col-3">
								<svg width="46" height="31" viewBox="0 0 46 31" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g opacity="0.8">
										<path d="M44.5 1L22.75 18.4019L1 1" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round" />
										<path
											d="M1 1H44.5V27.8938C44.5 28.3134 44.309 28.7158 43.9691 29.0125C43.6292 29.3091 43.1682 29.4758 42.6875 29.4758H2.8125C2.3318 29.4758 1.87078 29.3091 1.53087 29.0125C1.19096 28.7158 1 28.3134 1 27.8938V1Z"
											stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
										<path d="M18.7956 15.2379L1.55908 29.0287" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round" />
										<path d="M43.9424 29.0288L26.7056 15.2379" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round" />
									</g>
								</svg>
							</div>
							<div class="col-3">
								<h5 class="color-white"> info@thehellosmile.rs</h5>
							</div>
						</div>
						<div class="grid justify-center">
							<div class="col-3">
								<svg width="46" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path opacity="0.8"
										d="M10.7138 18.121C12.2499 21.2614 14.7955 23.7955 17.9428 25.3172C18.1731 25.4263 18.4279 25.4736 18.6819 25.4544C18.936 25.4352 19.1808 25.3501 19.392 25.2076L24.0263 22.1173C24.2313 21.9807 24.4671 21.8973 24.7124 21.8747C24.9577 21.8522 25.2048 21.8912 25.4312 21.9883L34.1011 25.7039C34.3956 25.829 34.6415 26.0465 34.8017 26.3235C34.9619 26.6005 35.0278 26.9221 34.9893 27.2397C34.7153 29.384 33.669 31.3549 32.0465 32.7834C30.424 34.2118 28.3364 34.9999 26.1747 35C19.4979 35 13.0947 32.3477 8.37349 27.6265C3.65232 22.9053 1 16.5021 1 9.82534C1.00011 7.6636 1.78818 5.57603 3.21663 3.95349C4.64509 2.33096 6.61598 1.28472 8.76027 1.01069C9.07795 0.972249 9.39951 1.03809 9.67651 1.19828C9.95351 1.35848 10.1709 1.60436 10.2961 1.89888L14.015 10.5763C14.1112 10.8008 14.1504 11.0455 14.1291 11.2888C14.1078 11.5321 14.0266 11.7663 13.8929 11.9706L10.8134 16.676C10.6732 16.8877 10.5904 17.1321 10.5729 17.3854C10.5555 17.6386 10.604 17.8921 10.7138 18.121Z"
										stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</div>
							<div class="col-3">
								<h5 class="color-white"><a href="tel:+381694449878"
										class="text-decoration-none color-white">+381694449878</a>
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>

			<img class="block width-100% object-cover col-6@md order-1@md" src="{{ 'kontakt-02.jpg' | asset_url }}"
				alt="Image description">
		</div>
	</div>
</section>
<div class="modal modal--animate-scale flex flex-center bg-contrast-higher bg-opacity-90% padding-md js-modal"
	id="modal-form">
	<div class="  modal__content width-100% height-65% max-height-lg max-width-xxl bg " role="alertdialog"
		aria-labelledby="modal-form-title" aria-describedby="modal-form-description">

		<div class="grid gap">
			<div class="col-6@md padding-y-md padding-x-md">
				{% form 'contact' %}

				{% if form.posted_successfully? %} Poruka je uspešno poslata {% endif %}
				{{ form.errors | default_errors }}
				<div class="margin-bottom-sm">
					<label class="form-label margin-bottom-xxs" for="input-name">Ime i prezime:</label>
					<input class="form-control width-100%" type="text" id="ContactFormName" name="contact[name]" required>
				</div>
				<div class="margin-bottom-sm">

					<label class="form-label margin-bottom-xxs" for="input-email">Email:</label>
					<input class="form-control width-100%" type="email" id="ContactFormEmail" name="contact[email]" required>
				</div>

				<div>
					<label class="form-label margin-bottom-xxs" for="textarea">Poruka:</label>
					<textarea class="form-control width-100%" id="ContactFormMessage" name="contact[body]"></textarea>
				</div>
				</fieldset>

				<div class="text-left margin-top-sm">
					<button class="btn btn--primary" type="submit" value="send">Pošalji</button>
				</div>
				{% endform %}
			</div>
			<div class="col-6@md"
				style="background-image: url({{ 'kontakt-modal.jpg' | asset_url }}); background-size: cover;">
				<div class="text-center margin-top-md">
					<p class="text-uppercase text-xs letter-spacing-lg color-white">Hello Smile</p>
					<h1 class="text-xxxl color-white">Kontaktirajte nas</h1>
				</div>
			</div>


		</div>
	</div>

	<button class="reset modal__close-btn modal__close-btn--outer  js-modal__close js-tab-focus">
		<svg class="icon icon--sm" viewBox="0 0 24 24">
			<title>Close modal window</title>
			<g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" stroke-linecap="round"
				stroke-linejoin="round">
				<line x1="3" y1="3" x2="21" y2="21" />
				<line x1="21" y1="3" x2="3" y2="21" />
			</g>
		</svg>
	</button>
</div>



<!-- <h1>{{ page.title }}</h1>
{% form 'contact' %}
{% if form.posted_successfully? %} Thank you for your contact {% endif %}
{{ form.errors | default_errors }}
<label for="ContactFormName">name</label>
<input type="text" id="ContactFormName" name="contact[name]">
<label for="ContactFormEmail">email</label>
<input type="email" id="ContactFormEmail" name="contact[email]">
<label for="ContactFormPhone">phone</label>
<input type="tel" id="ContactFormPhone" name="contact[phone]">
<label for="ContactFormMessage">message</label>
<textarea rows="10" id="ContactFormMessage" name="contact[body]"></textarea>
<input type="submit" value="send">
{% endform %} -->