<!-- <div class="container margin-top-xl max-width-adaptive-lg">
    <div class="carousel carousel-v2 flex flex-column js-carousel" data-drag="on" data-loop="off" data-navigation="on"
        data-navigation-class="carousel-v2__navigation" data-navigation-item-class="carousel-v2__navigation-item"
        data-autoplay="on">
        <p class="sr-only">Carousel items</p>

        <div class="carousel__wrapper position-relative overflow-hidden">
            <ol class="carousel__list items-center">
                <li class="carousel__item">
                    {% assign product = all_products['2-pakovanja-uglja'] %}
                    {% if product == blank %}
                    <h1>No product found</h1>
                    {% else %}
                    {% for image in all_products["2-pakovanja-uglja"].images %}
                    ​​
                    <a href="{{ product.url }}" class="card-v9 radius-md" aria-labelledby="card-title-1"
                        style="background-image: url({{ image.src | img_url: 'master' }});">
                        <div class="card-v9__content padding-md">
                            <div class="padding-bottom-xxxl max-width-xxs">
                                <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                                </p>
                                <h1 id="card-title-1" class="text-xl">Duo Set</h1>
                            </div>

                            <div class="margin-top-auto">
                                <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
                {% endif %} ​

                <li class="carousel__item">
                    <a href="#0" class="card-v9 radius-md" aria-labelledby="card-title-1"
                        style="background-image: url({{ 'shop-1.jpg' | asset_url }});">
                        <div class="card-v9__content padding-md">
                            <div class="padding-bottom-xxxl max-width-xxs">
                                <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                                </p>
                                <h1 id="card-title-1" class="text-xl">Duo Set</h1>
                            </div>

                            <div class="margin-top-auto">
                                <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="carousel__item">
                    <a href="#0" class="card-v9 radius-md" aria-labelledby="card-title-1"
                        style="background-image: url({{ 'shop-1.jpg' | asset_url }});">
                        <div class="card-v9__content padding-md">
                            <div class="padding-bottom-xxxl max-width-xxs">
                                <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                                </p>
                                <h1 id="card-title-1" class="text-xl">Duo Set</h1>
                            </div>

                            <div class="margin-top-auto">
                                <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="carousel__item">
                    <a href="#0" class="card-v9 radius-md" aria-labelledby="card-title-1"
                        style="background-image: url({{ 'shop-1.jpg' | asset_url }});">
                        <div class="card-v9__content padding-md">
                            <div class="padding-bottom-xxxl max-width-xxs">
                                <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                                </p>
                                <h1 id="card-title-1" class="text-xl">Duo Set</h1>
                            </div>

                            <div class="margin-top-auto">
                                <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="carousel__item">
                    <a href="#0" class="card-v9 radius-md" aria-labelledby="card-title-1"
                        style="background-image: url({{ 'shop-1.jpg' | asset_url }});">
                        <div class="card-v9__content padding-md">
                            <div class="padding-bottom-xxxl max-width-xxs">
                                <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                                </p>
                                <h1 id="card-title-1" class="text-xl">Duo Set</h1>
                            </div>

                            <div class="margin-top-auto">
                                <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="carousel__item">
                    <a href="#0" class="card-v9 radius-md" aria-labelledby="card-title-1"
                        style="background-image: url({{ 'shop-1.jpg' | asset_url }});">
                        <div class="card-v9__content padding-md">
                            <div class="padding-bottom-xxxl max-width-xxs">
                                <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                                </p>
                                <h1 id="card-title-1" class="text-xl">Duo Set</h1>
                            </div>

                            <div class="margin-top-auto">
                                <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="carousel__item">
                    <a href="#0" class="card-v9 radius-md" aria-labelledby="card-title-1"
                        style="background-image: url({{ 'shop-1.jpg' | asset_url }});">
                        <div class="card-v9__content padding-md">
                            <div class="padding-bottom-xxxl max-width-xxs">
                                <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                                </p>
                                <h1 id="card-title-1" class="text-xl">Duo Set</h1>
                            </div>

                            <div class="margin-top-auto">
                                <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="carousel__item">
                    <a href="#0" class="card-v9 radius-md" aria-labelledby="card-title-1"
                        style="background-image: url({{ 'shop-1.jpg' | asset_url }});">
                        <div class="card-v9__content padding-md">
                            <div class="padding-bottom-xxxl max-width-xxs">
                                <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                                </p>
                                <h1 id="card-title-1" class="text-xl">Duo Set</h1>
                            </div>

                            <div class="margin-top-auto">
                                <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="carousel__item">
                    <a href="#0" class="card-v9 radius-md" aria-labelledby="card-title-1"
                        style="background-image: url({{ 'shop-1.jpg' | asset_url }});">
                        <div class="card-v9__content padding-md">
                            <div class="padding-bottom-xxxl max-width-xxs">
                                <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                                </p>
                                <h1 id="card-title-1" class="text-xl">Duo Set</h1>
                            </div>

                            <div class="margin-top-auto">
                                <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                            </div>
                        </div>
                    </a>
                </li>
            </ol>

            <nav class="no-js:is-hidden">
                <ul
                    class="position-absolute top-0 left-0 bottom-0 right-0 pointer-events-none flex items-center justify-between">
                    <li>
                        <button
                            class="reset carousel-v2__control carousel-v2__control--prev js-carousel__control js-tab-focus">
                            <svg class="icon" viewBox="0 0 20 20">
                                <title>Show previous items</title>
                                <polyline points="13 18 5 10 13 2" fill="none" stroke="currentColor"
                                    stroke-miterlimit="10" stroke-width="2" />
                            </svg>
                        </button>
                    </li>

                    <li>
                        <button
                            class="reset carousel-v2__control carousel-v2__control--next js-carousel__control js-tab-focus">
                            <svg class="icon" viewBox="0 0 20 20">
                                <title>Show next items</title>
                                <polyline points="7 18 15 10 7 2" fill="none" stroke="currentColor"
                                    stroke-miterlimit="10" stroke-width="2" />
                            </svg>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div> -->
<!--DESKTOP -->
<!-- <div class="container max-width-adaptive-lg margin-top-xl bg-color-tertiary-light" id="mobileshow">
    <div class="margin-bottom-md">
        <h1 class="text-center">Naši proizvodi</h1>
    </div>
    <div class="grid gap-sm">
        <div class="col-6@md col-6@sm">
            {% assign product = all_products['ugalj'] %}
            {% if product == blank %}
            <h1>No product found</h1>
            {% else %}

            {% for image in all_products["ugalj"].images %} ​
            <a href="{{ product.url }}" class="card-v9 radius-md" aria-labelledby="card-title-1"
                style="background-image: url({{ image.src | img_url: 'grande' }});">
                <div class="card-v9__content padding-md">
                    <div class="padding-bottom-xxxl max-width-xxs">
                        <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                        </p>
                        <h1 id="card-title-1" class="text-xl">Aktivni ugalj</h1>
                    </div>
                    <div class="margin-top-xs">
                        <span class="prod-card__price">{{ product.price | money }}</span>
                    </div>

                    <div class="margin-top-auto">
                        <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                    </div>
                </div>
            </a>

            {% endfor %}
            {% endif %}
        </div>
        <div class="col-3@md col-6@sm">
            {% assign product = all_products['ugalj'] %}
            {% if product == blank %}
            <h1>No product found</h1>
            {% else %}

            {% for image in all_products["ugalj"].images %} ​
            <a href="{{ product.url }}" class="card-v9 radius-md" aria-labelledby="card-title-1"
                style="background-image: url({{ image.src | img_url: 'grande' }});">
                <div class="card-v9__content padding-md">
                    <div class="padding-bottom-xxxl max-width-xxs">
                        <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                        </p>
                        <h1 id="card-title-1" class="text-xl">Aktivni ugalj</h1>
                    </div>
                    <div class="margin-top-xs">
                        <span class="prod-card__price">{{ product.price | money }}</span>
                    </div>

                    <div class="margin-top-auto">
                        <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-3@md col-6@sm">
            {% assign product = all_products['ugalj'] %}
            {% if product == blank %}
            <h1>No product found</h1>
            {% else %}

            {% for image in all_products["ugalj"].images %} ​
            <a href="{{ product.url }}" class="card-v9 radius-md" aria-labelledby="card-title-1"
                style="background-image: url({{ image.src | img_url: 'grande' }});">
                <div class="card-v9__content padding-md">
                    <div class="padding-bottom-xxxl max-width-xxs">
                        <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                        </p>
                        <h1 id="card-title-1" class="text-xl">Aktivni ugalj</h1>
                    </div>
                    <div class="margin-top-xs">
                        <span class="prod-card__price">{{ product.price | money }}</span>
                    </div>

                    <div class="margin-top-auto">
                        <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% endif %} ​
        </div>
    </div>

</div> -->

<!-- MOBILE -->
<div class="container margin-top-xl max-width-adaptive-lg">
    <div class="margin-bottom-md">
        <h1 class="text-center">Naši proizvodi</h1>
    </div>
    <div class="grid gap-sm">

        <div class="col-4@md col-6@sm">

            {% assign current_variant = all_products['aaa'] %}
            {% assign product = all_products['aaa'] %}

            {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
            <div class="prod-card ">
                <span class="prod-card__badge" role="text">REVIEWS <i class="sr-only">product</i></span>

                <a class="prod-card__img-link" href="{{ product.url }}" aria-label="Description of the link">
                    <figure class="prod-card__img ">
                        <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="Product preview image">
                    </figure>
                </a>
                <div class="">
                    <h3 class="margin-top-xs"><a class="color-inherit" href="{{ product.url }}">
                            {{ product.title }}</a></h3>

                    <div class="margin-top-xs">
                        <h3 class="prod-card__price">{{ product.price | money }}</h3>
                    </div>
                    <div class="margin-top-xs  margin-bottom-xs">
                        <p class="color-contrast-high text-md">The Teeth Whitening Kit whitens teeth in just 10 minutes.
                        </p>
                    </div>

                </div>
            </div>
            <form enctype="multipart/form-data" class="test"
                id="add-to-cart-{{ product.handle }}-{{ collection.handle }}-{{ section.id }}">
                {% if product.options.size > 1 %}
                ...
                <input type="radio" value="{{ variant.id }}" name="id" {% if
                    variant.id==product.selected_or_first_available_variant.id %} checked{% endif %}>
                <label>{{ variant.title }} for {{ product.price | minus: variant.price | money_with_currency
                    }}</label>

                ...
                {% else %}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {% endif %}

                <input type='hidden' name='quantity' value='1'>
                <button
                    class=" js-go-cart-add-to-cart single-product__add-to-cart u-b6  btn btn--primary width-100% text-center"
                    type="submit" name="add" data-add-to-cart {% unless current_variant.available %} {% endunless %}>
                    Dodaj u korpu


                </button>

            </form>

            <div>{{ product.description }}</div>
        </div>

        <div class="col-4@md col-6@sm">

            {% assign current_variant = all_products['2-pakovanja-uglja'] %}
            {% assign product = all_products['2-pakovanja-uglja'] %}

            {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
            <div class="prod-card ">
                <span class="prod-card__badge" role="text">REVIEWS <i class="sr-only">product</i></span>

                <a class="prod-card__img-link" href="{{ product.url }}" aria-label="Description of the link">
                    <figure class="prod-card__img ">
                        <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="Product preview image">
                    </figure>
                </a>
                <div class="">
                    <h3 class="margin-top-xs"><a class="color-inherit" href="{{ product.url }}">
                            {{ product.title }}</a></h3>

                    <div class="margin-top-xs">
                        <h3 class="prod-card__price">{{ product.price | money }}</h3>
                    </div>
                    <div class="margin-top-xs margin-bottom-xs">
                        <p class="color-contrast-high text-md">The Teeth Whitening Kit whitens teeth in just 10 minutes.
                        </p>
                    </div>

                </div>
            </div>
            <form enctype="multipart/form-data" class="test"
                id="add-to-cart-{{ product.handle }}-{{ collection.handle }}-{{ section.id }}">
                {% if product.options.size > 1 %}
                ...
                <input type="radio" value="{{ variant.id }}" name="id" {% if
                    variant.id==product.selected_or_first_available_variant.id %} checked{% endif %}>
                <label>{{ variant.title }} for {{ product.price | minus: variant.price | money_with_currency
                    }}</label>

                ...
                {% else %}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {% endif %}

                <input type='hidden' name='quantity' value='1'>
                <button
                    class=" js-go-cart-add-to-cart single-product__add-to-cart u-b6  btn btn--primary width-100% text-center"
                    type="submit" name="add" data-add-to-cart {% unless current_variant.available %} {% endunless %}>
                    Dodaj u korpu


                </button>

            </form>

            <div hidden>{{ product.description }}</div>
        </div>


        <div class="col-4@md col-6@sm">

            {% assign current_variant = all_products['ugalj'] %}
            {% assign product = all_products['ugalj'] %}

            {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
            <div class="prod-card ">
                <span class="prod-card__badge" role="text">REVIEWS <i class="sr-only">product</i></span>

                <a class="prod-card__img-link" href="{{ product.url }}" aria-label="Description of the link">
                    <figure class="prod-card__img ">
                        <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="Product preview image">
                    </figure>
                </a>
                <div class="">
                    <h3 class="margin-top-xs"><a class="color-inherit" href="{{ product.url }}">
                            {{ product.title }}</a></h3>

                    <div class="margin-top-xs">
                        <h3 class="prod-card__price">{{ product.price | money }}</h3>
                    </div>
                    <div class="margin-top-xs  margin-bottom-xs">
                        <p class="color-contrast-high text-md">The Teeth Whitening Kit whitens teeth in just 10 minutes.
                        </p>
                    </div>

                </div>
            </div>
            <form enctype="multipart/form-data" class="test"
                id="add-to-cart-{{ product.handle }}-{{ collection.handle }}-{{ section.id }}">
                {% if product.options.size > 1 %}
                ...
                <input type="radio" value="{{ variant.id }}" name="id" {% if
                    variant.id==product.selected_or_first_available_variant.id %} checked{% endif %}>
                <label>{{ variant.title }} for {{ product.price | minus: variant.price | money_with_currency
                    }}</label>

                ...
                {% else %}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {% endif %}

                <input type='hidden' name='quantity' value='1'>
                <button
                    class=" js-go-cart-add-to-cart single-product__add-to-cart u-b6  btn btn--primary width-100% text-center"
                    type="submit" name="add" data-add-to-cart {% unless current_variant.available %} {% endunless %}>
                    Dodaj u korpu


                </button>

            </form>

            <div>{{ product.description }}</div>
        </div>
    </div>
</div>

</div>

{% section 'paketi' %}

{% section 'popout-kupovina' %}

<!-- <div class="container max-width-adaptive-lg margin-top-lg bg-color-tertiary-light">
    <div class="margin-bottom-md">
        <h1 class="text-center">Naši proizvodi</h1>
    </div>
    <div class="grid gap-sm">
        <div class="col-6@md col-6@sm">
            <a href="#0" class="card-v9 radius-md" aria-labelledby="card-title-1"
                style="background-image: url({{ 'shop-4.jpg' | asset_url }});">
                <div class="card-v9__content padding-md">
                    <div class="padding-bottom-xxxl max-width-xxs">
                        <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                        </p>
                        <h1 id="card-title-1" class="text-xl">Olovka</h1>
                    </div>

                    <div class="margin-top-auto">
                        <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3@md col-6@sm">
            <a href="#0" class="card-v9 radius-md" aria-labelledby="card-title-1"
                style="background-image: url({{ 'shop-3.jpg' | asset_url }});">
                <div class="card-v9__content padding-md">
                    <div class="padding-bottom-xxxl max-width-xxs">
                        <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                        </p>
                        <h1 id="card-title-1" class="text-xl">Aparat</h1>
                    </div>

                    <div class="margin-top-auto">
                        <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3@md col-6@sm">
            <a href="#0" class="card-v9 radius-md" aria-labelledby="card-title-1"
                style="background-image: url({{ 'shop-5.jpg' | asset_url }});">
                <div class="card-v9__content padding-md">
                    <div class="padding-bottom-xxxl max-width-xxs">
                        <p class="text-sm color-contrast-higher color-opacity-50% margin-bottom-xxs">Category
                        </p>
                        <h1 id="card-title-1" class="text-xl">Aktivni ugalj</h1>
                    </div>

                    <div class="margin-top-auto">
                        <span class="card-v9__btn"><i>Dodaj u korpu</i></span>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div> -->

<!-- <div class="container max-width-adaptive-lg margin-bottom-lg margin-top-xxl ">
    <div class="grid gap-lg ">
        <div class="col-6@md">
            <figure>
                <img class="block width-100%" src="{{ 'shop-2.jpg' | asset_url }}" alt="Image description">
            </figure>
        </div>
        <div class="col-6@md ">

            <p class="color-primary-lighter text-xs">USLUGA</p>
            <h1 class="font-light margin-bottom-md">Poklon paketi</h1>
            <div class="grid gap-md margin-bottom-md ">
                <div class=" height-xxl col-6">
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18 4H15.82C15.93 3.69 16 3.35 16 3C16 1.34 14.66 0 13 0C11.95 0 11.04 0.54 10.5 1.35L10 2.02L9.5 1.34C8.96 0.54 8.05 0 7 0C5.34 0 4 1.34 4 3C4 3.35 4.07 3.69 4.18 4H2C0.89 4 0.00999999 4.89 0.00999999 6L0 17C0 18.11 0.89 19 2 19H18C19.11 19 20 18.11 20 17V6C20 4.89 19.11 4 18 4ZM13 2C13.55 2 14 2.45 14 3C14 3.55 13.55 4 13 4C12.45 4 12 3.55 12 3C12 2.45 12.45 2 13 2ZM7 2C7.55 2 8 2.45 8 3C8 3.55 7.55 4 7 4C6.45 4 6 3.55 6 3C6 2.45 6.45 2 7 2ZM18 17H2V15H18V17ZM18 12H2V6H7.08L5 8.83L6.62 10L9 6.76L10 5.4L11 6.76L13.38 10L15 8.83L12.92 6H18V12Z"
                            fill="#75C3E9" />
                    </svg>

                    <h2 class="margin-bottom-sm">Paket br.1</h2>
                    <p class="font-light">Completely restore data rather than high standard</p>
                </div>
                <div class=" height-xxl col-6">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 8H12V5H15V3H12V0H10V3H7V5H10V8ZM6 17C4.9 17 4.01 17.9 4.01 19C4.01 20.1 4.9 21 6 21C7.1 21 8 20.1 8 19C8 17.9 7.1 17 6 17ZM16 17C14.9 17 14.01 17.9 14.01 19C14.01 20.1 14.9 21 16 21C17.1 21 18 20.1 18 19C18 17.9 17.1 17 16 17ZM6.17 13.75L6.2 13.63L7.1 12H14.55C15.3 12 15.96 11.59 16.3 10.97L20.16 3.96L18.42 3H18.41L17.31 5L14.55 10H7.53L7.4 9.73L5.16 5L4.21 3L3.27 1H0V3H2L5.6 10.59L4.25 13.04C4.09 13.32 4 13.65 4 14C4 15.1 4.9 16 6 16H18V14H6.42C6.29 14 6.17 13.89 6.17 13.75Z"
                            fill="#75C3E9" />
                    </svg>
                    <h2 class="margin-bottom-sm">Paket br.2</h2>
                    <p class="font-light">Completely restore data rather than high standard</p>
                </div>

            </div>

            <a href="" class="btn btn--primary margin-top-xl text-center float-right">Kontakt</a>

        </div>


    </div>

</div> -->


<!-- <div class="container max-width-adaptive-lg margin-bottom-lg margin-top-xxl ">
    <div class="grid gap-lg ">
        <div class="col-6@md">
            <figure>
                <img class="block width-100%" src="{{ 'shop-2.jpg' | asset_url }}" alt="Image description">
            </figure>
        </div>
        <div class="col-6@md ">

            <p class="color-primary-lighter text-xs">USLUGA</p>
            <h1 class="font-light margin-bottom-md">Poklon paketi</h1>
            <div class="grid gap-md margin-bottom-md ">
                <div class=" height-xxl col-6">
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18 4H15.82C15.93 3.69 16 3.35 16 3C16 1.34 14.66 0 13 0C11.95 0 11.04 0.54 10.5 1.35L10 2.02L9.5 1.34C8.96 0.54 8.05 0 7 0C5.34 0 4 1.34 4 3C4 3.35 4.07 3.69 4.18 4H2C0.89 4 0.00999999 4.89 0.00999999 6L0 17C0 18.11 0.89 19 2 19H18C19.11 19 20 18.11 20 17V6C20 4.89 19.11 4 18 4ZM13 2C13.55 2 14 2.45 14 3C14 3.55 13.55 4 13 4C12.45 4 12 3.55 12 3C12 2.45 12.45 2 13 2ZM7 2C7.55 2 8 2.45 8 3C8 3.55 7.55 4 7 4C6.45 4 6 3.55 6 3C6 2.45 6.45 2 7 2ZM18 17H2V15H18V17ZM18 12H2V6H7.08L5 8.83L6.62 10L9 6.76L10 5.4L11 6.76L13.38 10L15 8.83L12.92 6H18V12Z"
                            fill="#75C3E9" />
                    </svg>

                    <h2 class="margin-bottom-sm">Paket br.1</h2>
                    <p class="font-light">Completely restore data rather than high standard</p>
                </div>
                <div class=" height-xxl col-6">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 8H12V5H15V3H12V0H10V3H7V5H10V8ZM6 17C4.9 17 4.01 17.9 4.01 19C4.01 20.1 4.9 21 6 21C7.1 21 8 20.1 8 19C8 17.9 7.1 17 6 17ZM16 17C14.9 17 14.01 17.9 14.01 19C14.01 20.1 14.9 21 16 21C17.1 21 18 20.1 18 19C18 17.9 17.1 17 16 17ZM6.17 13.75L6.2 13.63L7.1 12H14.55C15.3 12 15.96 11.59 16.3 10.97L20.16 3.96L18.42 3H18.41L17.31 5L14.55 10H7.53L7.4 9.73L5.16 5L4.21 3L3.27 1H0V3H2L5.6 10.59L4.25 13.04C4.09 13.32 4 13.65 4 14C4 15.1 4.9 16 6 16H18V14H6.42C6.29 14 6.17 13.89 6.17 13.75Z"
                            fill="#75C3E9" />
                    </svg>
                    <h2 class="margin-bottom-sm">Paket br.2</h2>
                    <p class="font-light">Completely restore data rather than high standard</p>
                </div>

            </div>

            <a href="" class="btn btn--primary margin-top-xl text-center float-right">Kontakt</a>

        </div>


    </div>

</div> -->


<!-- <style>
    .product-card {
        box-sizing: border-box;
        float: left;
        min-height: 1em;
        padding-left: 2em;
        vertical-align: top;
        width: 25%;
    }

    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }
</style>

<h1>{{ collection.title }}</h1>

{%- if collection.description != blank -%}
<p>{{ collection.description }}</p>
{%- endif -%}

<ul>
    {%- for product in collection.products -%}
    <li>
        <a class="product-card" href="{{ product.url | within: collection }}">
            <img src="{{ product.featured_image.src | img_url: '1024x' }}" alt="">
            {{ product.title }}
            <p>
                <span aria-hidden="true">—</span>
                {%- if product.price_varies -%}
                <span class="visuallyhidden">Starting at</span>
                {{ product.price_min | money_without_trailing_zeros }}
                <span aria-hidden="true">+</span>
                {%- else -%}
                {{ product.price | money_without_trailing_zeros }}
                {%- endif -%}
            </p>
            <p>
                <span class="visuallyhidden">by</span>
                {{ product.vendor }}
            </p>
        </a>
    </li>
    {%- endfor -%}
</ul> -->