{% comment %} START Sticky Bar Cart {% endcomment %}
<div
		class="sticky-banner sticky-banner--bottom bg-white bg-opacity-80% backdrop-blur-10 color-bg js-sticky-banner padding-y-xs padding-y-xs@md padding-x-xs padding-x-md@md"
		data-target-in="#sticky-bar-cart">
  <!--游녢 sticky banner content -->
  <div class="flex gap-xs flex-row items-center justify-between">
	<div class="flex items-center">
	  <img src="{{ 'proizvod-ugalj-olovka-bar.png' | asset_url }}"
		   class="margin-right-xxs margin-right-xs@md display@md" alt="">
	  <h3 class="margin-left-0 margin-bottom-0 display@md">{{ product.title }}</h3>
	  <h3 class="margin-right-xxs margin-bottom-0 hide@md">{{ product.price | money }}</h3>
	</div>
	<div class="flex items-center">
	  <a class="ugalj-olovke-baner btn btn--primary padding-x-md@md" @click="addOnee()" aria-controls="cart-drawer-1">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
			 class="margin-right-xxxs margin-right-xxs@md">
		  <title>Dodaj u korpu</title>
		  <g>
			<path fill="#ffffff"
				  d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19zM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74A3.007 3.007 0 0 0 3.92 3H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7zM16.5 19a1.5 1.5 0 1 0 1.5 1.5 1.5 1.5 0 0 0-1.5-1.5z">
			</path>
		  </g>
		</svg>
		Dodaj u korpu
	  </a>
	</div>
  </div>
</div>

{% comment %} Product Images Mobile {% endcomment %}
<section class="position-relative hide@md" style="margin-top: 70px;">
  <div class="max-width-adaptive-lg height-100vh flex">
	<div class="max-width-xs position-absolute padding-x-sm top-0 width-100%" style="padding-top: 80px;">

	  <div class="text-component margin-bottom-sm text-center">
		<h1 class="text-xl color-white">{{ product.title }}</h1>
		<h3 class="color-contrast-high">HelloSmile olovka + Aktivni ugalj</h3>

	  </div>

	  <a class="ugalj-olovke-mobile btn btn--primary flex flex-grow" @click="addTestOneMobile()">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="margin-right-xxs">
		  <title>Dodaj u korpu</title>
		  <g>
			<path fill="#ffffff"
				  d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19zM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74A3.007 3.007 0 0 0 3.92 3H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7zM16.5 19a1.5 1.5 0 1 0 1.5 1.5 1.5 1.5 0 0 0-1.5-1.5z">
			</path>
		  </g>
		</svg>
		Dodaj u korpu</a>
	</div>

	<img src="{{ 'olovka-ugalj-01-mobile.jpg' | asset_url }}" class="width-100%" alt="">

  </div>
</section>

{% comment %} START Reveal Section {% endcomment %}
<section class="position-relative z-index-2 bg" id="sticky-bar-cart">
  <!-- your content here -->
  <section class="product-v3 padding-bottom-xs padding-top-xl@md js-product-v3">

	<div class="container max-width-adaptive-xl">
	  <div class="grid gap-sm gap-lg@md">
		<div class="col-12 col-6@md col-7@xl min-width-0">

		  {% comment %} Product Images Desktop {% endcomment %}
		  <div class="flex flex-column display@md">

			{% for image in product.images %}
			  <img class="block width-100%" src="{{ image.src | product_img_url: 'master' }}" alt="Image description">
			{% endfor %}

		  </div>
		</div>

		<div class="col-12 col-6@md col-5@xl padding-top-0@md">
		  <div class="product-v3__panel">
			<div class="padding-bottom-xxs">
			  <h1 class="text-xl text-xxl@md font-bold">{{ product.title }}</h1>
			  <h3 class="color-contrast-higher font-light">HelloSmile olovka + Aktivni ugalj</h3>

			</div>


			<div class="flex items-center padding-bottom-md padding-bottom-md@md">
			  <p class="text-xl color-primary">{{ product.price | money }}</p>
			</div>

			{% form 'product', product, data-product-form: '', data-product-handle: product.handle,
					data-enable-history-state: 'true' %}


			  {% if product.options.size > 1 %}
				...
				<input type="radio" v-model="form.id" id="variant_id" value="{{ variant.id }}" name="id" {% if
						variant.id==product.selected_or_first_available_variant.id %} checked{% endif %}>
				<label>{{ variant.title }} for {{ product.price | minus: variant.price | money_with_currency
				  }}</label>

				...
			  {% else %}
				<input type="hidden" name="id" v-model="form.id" id="variant_id"
					   value="{{ product.selected_or_first_available_variant.id }}">
			  {% endif %}

			  <div class="flex flex-column flex-row@sm gap-xxs js-product-v3__cta padding-top-0@md">
				<div class="number-input number-input--v2 js-number-input display@md" id="counter">
				  <input class="form-control js-number-input__value " type="number" v-model="form.quantity"
						 name="qty-input-2" id="qty-input-2" min="0" max="10" step="1">
				  <button class="reset number-input__btn number-input__btn--plus " aria-label="Increase Number"
						  type="button" @click="incrementValue">
					<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
					  <path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"/>
					</svg>
				  </button>
				  <button class="reset number-input__btn number-input__btn--minus " aria-label="Decrease Number"
						  type="button" @click="decrementValue">
					<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
					  <path d="M11,7H1A1,1,0,0,1,1,5H11a1,1,0,0,1,0,2Z"/>
					</svg>
				  </button>
				</div>
				<a class="btn  btn--primary flex-grow" aria-controls="cart-drawer" @click="addToCart" id="kec"
				   name="add">
				  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
					   class="margin-right-xxs">
					<title>Dodaj u korpu</title>
					<g>
					  <path fill="#ffffff"
							d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19zM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74A3.007 3.007 0 0 0 3.92 3H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7zM16.5 19a1.5 1.5 0 1 0 1.5 1.5 1.5 1.5 0 0 0-1.5-1.5z">
					  </path>
					</g>
				  </svg>
				  Dodaj u korpu </a>
			  </div>

			{% endform %}

			<div class="text-component padding-top-sm padding-top-md@md padding-bottom-xs padding-bottom-sm@md">
			  <div class="flex">
				<img src="{{ 'dostava.svg' | asset_url }}" class="icon--md" alt="" style="margin-right: 1rem;">
				<p class="margin-bottom-0">Besplatna isporuka se vr코i na teritoriji Srbije, Crne Gore, Hrvatske i Bosne
										   i Hercegovine, a za ostatak sveta dostava se napla캖uje 8 eura.</p>
			  </div>
			</div>

			<div class="text-component">
			  {{ product.description }}
			</div>

			<div class="padding-top-xs padding-top-sm@md">
			  <div class="parent grid gap-xs grid-md@md items-baseline">
				<div class="col-6 col-3@md">
				  <div class="grid text-center">
					<div class="col-12">
					  <img src="{{ 'icon-01.svg' | asset_url }}" class="icon--xxl hover:scale" alt="Image description">
					</div>
					<div class="col-12">
					  <p class="text-sm text-base@md color-primary-dark">Prirodni sastojci</p>
					</div>
				  </div>
				</div>
				<div class="col-6 col-3@md">
				  <div class="grid text-center">
					<div class="col-12">
					  <img src="{{ 'icon-02.svg' | asset_url }}" class="icon--xxl hover:scale" alt="Image description">
					</div>
					<div class="col-12">
					  <p class="text-sm text-base@md color-primary-dark">Pogodno za osetljive zube
																		 i desni</p>
					</div>
				  </div>
				</div>
				<div class="col-6 col-3@md">
				  <div class="grid text-center">
					<div class="col-12">
					  <img src="{{ 'icon-03.svg' | asset_url }}" class="icon--xxl hover:scale" alt="Image description">
					</div>
					<div class="col-12">
					  <p class="text-sm text-base@md color-primary-dark">Klini캜ki testirano</p>
					</div>
				  </div>
				</div>
				<div class="col-6 col-3@md">
				  <div class="grid text-center">
					<div class="col-12">
					  <img src="{{ 'icon-04.svg' | asset_url }}" class="icon--xxl hover:scale" alt="Image description">
					</div>
					<div class="col-12">
					  <p class="text-sm text-base@md color-primary-dark">Nau캜no dokazana PAP
																		 formula</p>
					</div>
				  </div>
				</div>
			  </div>
			</div>

			{% comment %} START Accordion {% endcomment %}
			<!-- <div class="parent grid-sm padding-top-sm padding-top-md@md">
  <ul class="accordion-v2 flex flex-column gap-xxxs js-accordion" data-animation="on" data-multi-items="on"
	  data-version="v2">

	<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
	  <button class="reset accordion-v2__header padding-y-sm padding-x-md js-tab-focus" type="button">
		<span class="">Kako olovka radi</span>

		<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
		  <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
			 stroke-miterlimit="10">
			<path d="M2 2l12 12"/>
			<path d="M14 2L2 14"/>
		  </g>
		</svg>
	  </button>

	  <div class="accordion-v2__panel js-accordion__panel">
		<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
		  <p class="">Hello Smile olovka za izbeljivanje zuba dizajnirana je kao
					  pogodno re코enje za
					  svakodnevno izbeljivanje. Kratkim vremenom nano코enja i prenosnim
					  dizajnom, mo쬰te da o캜istite
					  mrlje sa povr코ine zuba 캜ak i kada niste kod kuc패e.
			<br><br>
					  Hello Smile olovka sadr쬴 2ml gela 코to je dovoljno za 30+ nano코enja, u
					  zavisnosti koliko gela
					  nanesete svaki put. Preporu캜ujemo da gel ostavite na zubima oko 20
					  minuta, nakon toga
					  jednostavno isperite usta vodom.
		  </p>
		</div>
	  </div>
	</li>

	<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
	  <button class="reset accordion-v2__header padding-y-sm padding-x-md js-tab-focus" type="button">
		<span class="">맚a je to novo u vezi Hello Smile olovke?</span>

		<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
		  <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
			 stroke-miterlimit="10">
			<path d="M2 2l12 12"/>
			<path d="M14 2L2 14"/>
		  </g>
		</svg>
	  </button>

	  <div class="accordion-v2__panel js-accordion__panel">
		<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
		  <p class="">Ulo쬴li smo dosta vremena, truda i znanja kako bismo vam
					  predstavili savr코en
					  proizvod koji je pogodan za kori코캖enje i kod osetljivih zuba i desni.
					  Formula bez peroksida,
					  sa캜injena od vitamina i minerala, izbeljuje zube, 캜ine캖ih ih ja캜im i
					  zdravijim.</p>
		</div>
	  </div>
	</li>
  </ul>
</div> -->
			{% comment %} END Accordion {% endcomment %}
		  </div>
		</div>
	  </div>
	</div>
  </section>
</section>
<!-- immersive section transition 游녢 -->
<div class="bg-white padding-top-lg padding-top-xxl@md">

  <div class="immerse-section-tr padding-top-xs js-immerse-section-tr">
	<div class="immerse-section-tr__media js-immerse-section-tr__media">
	  <div class="container max-width-sm">
		<!-- asset visible on small devices -->
		<figure
				class="immerse-section-tr__figure immerse-section-tr__figure--3-4 hide@sm js-immerse-section-tr__figure">
		  {% comment %}<video src="{{ 'immersive-section-transition-video-1.mp4' | asset_url }}" autoplay loop muted{%
			  endcomment %} {% comment %}playsInline></video>{% endcomment %}
		  <img src="{{ 'ugalj-olovka-2.jpg' | asset_url }}" class="width-100%" alt="">
		</figure>
		<!-- asset visible on bigger devices -->
		<figure
				class="immerse-section-tr__figure immerse-section-tr__figure--16-9 display@sm js-immerse-section-tr__figure">
		  {% comment %}<video src="{{ 'immersive-section-transition-video-2.mp4' | asset_url }}" autoplay loop muted{%
			  endcomment %} {% comment %}playsInline></video>{% endcomment %}
		  <img src="{{ 'ugalj-olovka-2.jpg' | asset_url }}" class="width-100%" alt="">
		</figure>
	  </div>
	</div>

	<section class="immerse-section-tr__content bg-transparent margin-top-lg js-immerse-section-tr__content">
	  <!-- your content here -->

	  <div class="container max-width-adaptive-sm padding-bottom-xxl@md padding-bottom-xl margin-bottom-xl margin-bottom-xxl@md">
		<div class="text-component line-height-lg v-space-md padding-top-lg padding-top-0@md">
		  <h1 class="text-xl text-xxl@md font-bold">Premium kvalitet</h1>
		  <p class="text-md text-lg@md">Koristimo isklju캜ivo prirodne sastojke, vitamine i minerale, koji
										na neinvazivan na캜in izbeljuju zube.
										Pa쬷jivo odabrani sastojci omogu캖avaju kori코캖enje i kod osetljivih zuba i desni.
										Klini캜ki testirano i nau캜no dokazano da na코a PAP formula 캜ini va코e zube beljim i
										ja캜im.</p>
		</div>
	  </div>
	  {% comment %} END Content {% endcomment %}
	</section>
  </div>
</div>
{% comment %} START Products{% endcomment %}
{% section 'popularni-paketi' %}
{% section 'nasmejani-korisnici' %}
{% section 'popout-kupovina' %}
