{% comment %} START Sticky Bar Cart {% endcomment %}
<div
		class="sticky-banner sticky-banner--bottom bg-white bg-opacity-80% backdrop-blur-10 color-bg js-sticky-banner padding-y-xs padding-y-xs@md padding-x-xs padding-x-md@md"
		data-target-in="#sticky-bar-cart">
  <!--👇 sticky banner content -->
  <div class="flex gap-xs flex-row items-center justify-between">
	<div class="flex items-center">
	  <img loading="lazy" data-src="{{ 'proizvod-aparat-bar.png' | asset_url }}"
		   src="{{ 'proizvod-aparat-bar.png' | asset_url }}" class="margin-right-xxs margin-right-xs@md display@md"
		   alt="">
	  <h3 class="margin-left-0 margin-bottom-0 display@md">{{ product.title }}</h3>
	  <h3 class="margin-right-xxs margin-bottom-0 hide@md">{{ product.price | money }}</h3>
	</div>
	<div class="flex items-center">
	  <h3 class="margin-right-xxs margin-bottom-0 display@md">{{ product.price | money }}</h3>
	  <button class="btn btn--primary padding-x-md@md">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
			 class="margin-right-xxxs margin-right-xxs@md">
		  <title>Dodaj u korpu</title>
		  <g>
			<path fill="#ffffff"
				  d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19zM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74A3.007 3.007 0 0 0 3.92 3H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7zM16.5 19a1.5 1.5 0 1 0 1.5 1.5 1.5 1.5 0 0 0-1.5-1.5z">
			</path>
		  </g>
		</svg>
		Dodaj u korpu
	  </button>
	</div>
  </div>
</div>

{% comment %} Product Images Mobile {% endcomment %}
<section class="position-relative hide@md" style="margin-top: 70px;">
  <div class="max-width-adaptive-lg height-100vh flex">
	<div class="max-width-xs position-absolute padding-x-sm bottom-0" style="padding-bottom: calc(80px + 60px);">

	  <div class="text-component margin-bottom-sm text-center">
		<h1 class="text-xl">{{ product.title }}</h1>
	  </div>

	  <a href="cart.html" class="btn btn--primary flex flex-grow" aria-controls="cart-drawer">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="margin-right-xxs">
		  <title>Dodaj u korpu</title>
		  <g>
			<path fill="#ffffff"
				  d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19zM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74A3.007 3.007 0 0 0 3.92 3H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7zM16.5 19a1.5 1.5 0 1 0 1.5 1.5 1.5 1.5 0 0 0-1.5-1.5z">
			</path>
		  </g>
		</svg>
		Dodaj u korpu</a>
	</div>

	<img loading="lazy" data-src="{{ 'proizvod-aparat-mobile.jpg' | asset_url }}"
		 src="{{ 'proizvod-aparat-mobile.jpg' | asset_url }}" class="width-100%" alt="">

  </div>
</section>


{% comment %} START Proizvod {% endcomment %}
<section class="position-relative z-index-2 bg">
  <!-- your content here -->
  <section id="product-mobile" class="product-v3 padding-bottom-xs padding-top-lg@md js-product-v3">

	{% comment %} START About {% endcomment %}
	<div class="container max-width-adaptive-xl" id="sticky-bar-cart">
	  <div class="grid gap-sm gap-lg@md">
		<div class="col-12 col-6@md col-7@xl min-width-0">

		  {% comment %} Product Images Desktop {% endcomment %}
		  <div class="flex flex-column display@md">
			{% for image in product.images %}
			  <img loading="lazy" data-src="{{ image.src | product_img_url: 'master' }}" class="block width-100%"
				   src="{{ image.src | product_img_url: 'master' }}" alt="Image description">
			{% endfor %}
		  </div>
		</div>

		<div class="col-12 col-6@md col-5@xl padding-top-0@md">
		  <div class="product-v3__panel">
			<div class="padding-bottom-xxs">
			  <h1 class="text-lg text-xxl@md font-bold">{{ product.title }}</h1>
			</div>

			<div class="flex items-center margin-bottom-sm">
			  <div class="rating rating--read-only js-rating js-rating--read-only text-xs">
				<p class="sr-only">The rating of this product is <span class="rating__value js-rating__value">5</span>
								   od 5</p>

				<div class="rating__control rating__control--is-hidden js-rating__control">
				  <svg width="24" height="24" viewBox="0 0 24 24">
					<polygon
							points="12 1.489 15.09 7.751 22 8.755 17 13.629 18.18 20.511 12 17.261 5.82 20.511 7 13.629 2 8.755 8.91 7.751 12 1.489"
							fill="currentColor"/>
				  </svg>
				</div>
			  </div>

			  <div class="text-sm color-inherit margin-left-xxs">
				<p>17 ljudi ocenilo</p>
			  </div>
			</div>

			<div class="flex items-center padding-bottom-md padding-bottom-md@md">
			  <p class="text-xl color-primary">{{ product.price | money }}</p>
			</div>

			<div class="flex flex-wrap gap-xs js-product-v3__cta padding-top-0@md">
			  <label class="sr-only display@md" for="product-qty-input">Quantity:</label>
			  <div class="number-input number-input--v2 js-number-input display@md">
				<input class="form-control js-number-input__value js-product-v3__input padding-x-xs" type="number"
					   name="product-qty-input" id="product-qty-input" min="0" max="10" step="1" value="1">

				<button class="reset number-input__btn number-input__btn--plus js-number-input__btn"
						aria-label="Increase Number">
				  <svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
					<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"/>
				  </svg>
				</button>

				<button class="reset number-input__btn number-input__btn--minus js-number-input__btn"
						aria-label="Decrease Number">
				  <svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
					<path d="M11,7H1A1,1,0,0,1,1,5H11a1,1,0,0,1,0,2Z"/>
				  </svg>
				</button>
			  </div>

			  <a href="cart.html" class="btn btn--primary flex-grow" aria-controls="cart-drawer">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
					 class="margin-right-xxs">
				  <title>Dodaj u korpu</title>
				  <g>
					<path fill="#ffffff"
						  d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19zM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74A3.007 3.007 0 0 0 3.92 3H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7zM16.5 19a1.5 1.5 0 1 0 1.5 1.5 1.5 1.5 0 0 0-1.5-1.5z">
					</path>
				  </g>
				</svg>
				Dodaj u korpu</a>
			</div>

			<div class="text-component padding-top-sm padding-top-md@md padding-bottom-xs padding-bottom-sm@md">
			  <div class="flex">
				<img loading="lazy" data-src="{{ 'dostava.svg' | asset_url }}" src="{{ 'dostava.svg' | asset_url }}"
					 class="icon--md" alt="" style="margin-right: 1rem;">
				<p class="margin-bottom-0">Besplatna isporuka se vrši na teritoriji Srbije, Crne Gore, Hrvatske i Bosne
										   i Hercegovine, a za ostatak sveta dostava se naplaćuje 8 eura.</p>
			  </div>
			</div>

			<div class="text-component">
			  {{ product.description }}
			</div>

			<div class="padding-top-xs padding-top-sm@md">
			  <div class="parent grid gap-xs grid-md@md items-baseline">
				<div class="col-6 col-3@md">
				  <div class="grid text-center">
					<div class="col-12">
					  <img loading="lazy" data-src="{{ 'icon-01.svg' | asset_url }}"
						   src="{{ 'icon-01.svg' | asset_url }}" class="icon--xxl hover:scale" alt="Image description">
					</div>
					<div class="col-12">
					  <p class="text-sm@md color-primary-dark">Belji i jači zubi</p>
					</div>
				  </div>
				</div>
				<div class="col-6 col-3@md">
				  <div class="grid text-center">
					<div class="col-12">
					  <img loading="lazy" data-src="{{ 'icon-02.svg' | asset_url }}"
						   src="{{ 'icon-02.svg' | asset_url }}" class="icon--xxl hover:scale" alt="Image description">
					</div>
					<div class="col-12">
					  <p class="text-sm@md color-primary-dark">- Bez bola ili osetljivosti
					  </p>
					</div>
				  </div>
				</div>
				<div class="col-6 col-3@md">
				  <div class="grid text-center">
					<div class="col-12">
					  <img loading="lazy" data-src="{{ 'icon-03.svg' | asset_url }}"
						   src="{{ 'icon-03.svg' | asset_url }}" class="icon--xxl hover:scale" alt="Image description">
					</div>
					<div class="col-12">
					  <p class="text-sm@md color-primary-dark">Rezultati za samo 16 minuta</p>
					</div>
				  </div>
				</div>
			  </div>
			</div>

			{% comment %} START Accordion {% endcomment %}
			<div class="parent grid-sm padding-top-sm padding-top-md@md">
			  <ul class="accordion-v2 flex flex-column gap-xxxs js-accordion" data-animation="on" data-multi-items="on"
				  data-version="v2">

				<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
				  <button class="reset accordion-v2__header padding-y-sm padding-x-md js-tab-focus" type="button">
					<span class="">Kako se koristi Hello Smile pro aparat?</span>
					<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
					  <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
						 stroke-miterlimit="10">
						<path d="M2 2l12 12"/>
						<path d="M14 2L2 14"/>
					  </g>
					</svg>
				  </button>

				  <div class="accordion-v2__panel js-accordion__panel">
					<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
					  <p>Nanestite Hello Smile olovku na površinu zuba. Stavite aparat u usta,
						 zagrizite ga, pritisnite dugme i započnite postupak beljenja. LED svetlo
						 uključuje ugrađeni tajmer koji će se automatski isključiti posle 16
						 minuta. Ispljunite sadržaj i isperite usta vodom. Otporan je na kvašenje
						 i možete ga održavati tako što ćete gumeni deo aparata oprati pod mlazom
						 vode posle svake upotrebe.</p>
					</div>
				  </div>
				</li>
				<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
				  <button class="reset accordion-v2__header padding-y-sm padding-x-md js-tab-focus" type="button">
					<span class="">Za najbolje rezultate ponavljajte postupak tokom 7 uzastopnih dana.</span>
					<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
					  <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
						 stroke-miterlimit="10">
						<path d="M2 2l12 12"/>
						<path d="M14 2L2 14"/>
					  </g>
					</svg>
				  </button>

				  <div class="accordion-v2__panel js-accordion__panel">
					<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
					  <p>Koliko dugo traju rezultati? Nakon prvog tretmana od sedam dana,
						 rezultati mogu trajati između 3-4 nedelje. Za dugotrajnije rezultate,
						 pokušajte da ograničite unos tamne hrane ili pića.</p>
					</div>
				  </div>
				</li>
				<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
				  <button class="reset accordion-v2__header padding-y-sm padding-x-md js-tab-focus" type="button">
					<span class="">Da li tretman boli? Da li će moji zubi biti osetljivi nakon izbeljivanja?</span>
					<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
					  <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
						 stroke-miterlimit="10">
						<path d="M2 2l12 12"/>
						<path d="M14 2L2 14"/>
					  </g>
					</svg>
				  </button>

				  <div class="accordion-v2__panel js-accordion__panel">
					<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
					  <p>Tokom ili posle tretmana apsolutno nećete osećati bol ili osetljivost.
						 Hello Smile formula za beljenje zuba uključuje niz umirujućih sastojaka,
						 sa antibakterijskim i protivupalnim svojstvima, obezbeđujući bezbolno i
						 bezbedno iskustvo.</p>
					</div>
				  </div>
				</li>

			  </ul>
			</div>
			{% comment %} END Accordion {% endcomment %}
		  </div>
		</div>
	  </div>
	</div>
  </section>

  {% comment %}START Premium {% endcomment %}
  <div class="bg-white padding-top-lg padding-top-xxl@md">

	<div class="immerse-section-tr padding-top-xs js-immerse-section-tr">
	  <div class="immerse-section-tr__media js-immerse-section-tr__media">
		<div class="container max-width-sm">
		  <!-- asset visible on small devices -->
		  <figure
				  class="immerse-section-tr__figure immerse-section-tr__figure--3-4 hide@sm js-immerse-section-tr__figure">
			{% comment %}<video src="{{ 'immersive-section-transition-video-1.mp4' | asset_url }}" autoplay loop muted{%
				endcomment %} {% comment %}playsInline></video>{% endcomment %}
			<img loading="lazy" data-src="{{ 'aparat-sto-mobile.jpg' | asset_url }}"
				 src="{{ 'aparat-sto-mobile.jpg' | asset_url }}" class="width-100%" alt="">
		  </figure>
		  <!-- asset visible on bigger devices -->
		  <figure
				  class="immerse-section-tr__figure immerse-section-tr__figure--16-9 display@sm js-immerse-section-tr__figure">
			{% comment %}<video src="{{ 'immersive-section-transition-video-2.mp4' | asset_url }}" autoplay loop muted{%
				endcomment %} {% comment %}playsInline></video>{% endcomment %}
			<img loading="lazy" data-src="{{ 'aparat-sto.jpg' | asset_url }}" src="{{ 'aparat-sto.jpg' | asset_url }}"
				 class="width-100%" alt="">
		  </figure>
		</div>
	  </div>

	  <section class="immerse-section-tr__content bg-transparent margin-top-lg js-immerse-section-tr__content">
		<!-- your content here -->

		<div class="container max-width-adaptive-sm margin-bottom-xxl margin-bottom-xxxl@md">
		  <div class="text-component line-height-lg v-space-md padding-top-lg padding-top-0@md">
			<h1 class="text-xl text-xxl@md font-bold">Dizajniran za najbrže rezultate</h1>
			<p class="text-md text-lg@md">Bežična LED tehnologija dizajnirana je da izbeli zube za samo 16 minuta.
										  Aparat sa 16 aktivatora sa plavim svetlom, ubrzava proces beljenja brže nego
										  ikada pre.</p>
		  </div>
		</div>

	  </section>
	</div>
  </div>

  {% comment %} START Products{% endcomment %}
  <section class="products-gallery margin-top-xxl@md margin-top-md">
	<div class="container max-width-adaptive-lg">
	  <div class="margin-bottom-xs margin-bottom-md@md">
		<div class="flex justify-center items-end justify-between@md">
		  <h2 class="text-xl text-xxl@md">Slični proizvodi</h2>
		  <a href="/products/" class="btn btn--subtle display@md" role="text">Pogledaj sve <i
					class="sr-only">proizvode</i></a>
		</div>
	  </div>

	  <div class="grid gap-sm">
		<div class="prod-card-v2 col-4@md">
		  <a href="/products/2-pro-seta" class="prod-card-v2__img-link hover:elevate"
			 aria-label="Description of the link">
			<figure class="media-wrapper media-wrapper--4:5">
			  <img loading="lazy" data-src="{{ 'pro-duo-01.jpg' | asset_url }}" src="{{ 'pro-duo-01.jpg' | asset_url }}"
				   alt="Product preview image">
			</figure>
		  </a>

		  <div class="padding-xs text-center">
			<h2 class="text-lg@md font-primary"><a href="" class="product-card-v2__title">2 Pro seta</a></h2>

			<div class="margin-top-xxxs margin-bottom-xs">
			  <span class="prod-card-v2__price">3,890.00rsd</span>
			</div>
			<a class="dva-proset-preporuka btn btn--accent block text-center" @click="addDvaProsetPreporuka()"
			   aria-controls="cart-drawer-1">Dodaj u
											 korpu</a>
		  </div>
		</div>
		<div class="prod-card-v2 col-4@md">

		  <a href="/products/duo-pro-ugalj" class="prod-card-v2__img-link hover:elevate"
			 aria-label="Description of the link">
			<figure class="media-wrapper media-wrapper--4:5">
			  <img loading="lazy" data-src="{{ 'pro-duo-ugalj-01.jpg' | asset_url }}"
				   src="{{ 'pro-duo-ugalj-01.jpg' | asset_url }}" alt="Product preview image">
			</figure>
		  </a>

		  <div class="padding-xs text-center">
			<h2 class="text-lg@md font-primary"><a href="" class="product-card-v2__title">Duo + Pro + Ugalj</a></h2>

			<div class="margin-top-xxxs margin-bottom-xs">
			  <span class="prod-card-v2__price">3890rsd</span>
			</div>
			<a class="duo-pro-ugalj-preporuka btn btn--accent block text-center" @click="addDuoProUgaljPreporuka()"
			   aria-controls="cart-drawer-1">Dodaj u
											 korpu</a>
		  </div>
		</div>
		<div class="prod-card-v2 col-4@md">

		  <a href="/products/pro-duo-set" class="prod-card-v2__img-link hover:elevate"
			 aria-label="Description of the link">
			<figure class="media-wrapper media-wrapper--4:5">
			  <img loading="lazy" data-src="{{ 'pro-duo-01.jpg' | asset_url }}" src="{{ 'pro-duo-01.jpg' | asset_url }}"
				   alt="Product preview image">
			</figure>
		  </a>

		  <div class="padding-xs text-center">
			<h2 class="text-lg@md font-primary"><a href="" class="product-card-v2__title">Pro + Duo set</a></h2>

			<div class="margin-top-xxxs margin-bottom-xs">
			  <span class="prod-card-v2__price">3890rsd</span>
			</div>
			<a class="pro-duo-preporuka btn btn--accent block text-center" @click="addProDuoPreporuka()"
			   aria-controls="cart-drawer-1">Dodaj u korpu</a>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  {% section 'nasmejani-korisnici' %}

</section>

{% section 'popout-kupovina' %}
